body {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td {
    padding-right: 30px;
    padding-left: 30px;
}

.board {
    min-width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.choices {
    display: flex;
    gap: 16px;
}

.choice {
    width: 100px;
}

.output p {
    display: flex;
    justify-content: center;
}

.lose-txt {
    color: red;
}

.win-txt {
    color: green;
}