body {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.board {
    min-width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.choices {
    display: flex;
    gap: 16px;
}

.choice {
    width: 100px;
}